/* Cascating Stylesheet */
* {
  margin: 0;
}

html,
body {
  --black: hsl(
    240,
    6%,
    13%
  ); /* Este código foi criado, siginifica uma variável para ser usado nos SELECTOR existentes no nosso CSS mudando as cores das fontes(EX: color: var(--black)*/
  --grey: hsl(
    240,
    9%,
    89%
  ); /* Este código foi criado, siginifica uma variável para ser usado nos SELECTOR existentes no nosso CSSmudando as cores das fontes(EX: color: var(--grey)*/

  height: 100%;
  font-family: 'Roboto', sans-serif;
  --webkit-font-smoothing: antialiased; /* Inserir no body criado no CSS, para deixar uma suavidade nas fontes no navegador*/
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(./images/background..sgv);
  width: 375px;
  height: 812px;
}

.conteiner {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 10rem; /* A imagem tem 160px, para chegar em 10rem é só dividir 160/16*/
  margin: 11.5rem auto 0;
  position: relative; /* Ele é o limite para o position: absolute; criado no span*/
}

.avatar span {
  position: absolute; /* Cria-se níveis de empilhamentos (EX: Uma papel em baixo é outro em cima) que no caso o selo fica em cima da foto!*/
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /* Faz com que a imagem fique no tamanho correto adicionados com os valores do width é height acima*/
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none; /* list-style retira os pontos da lista */
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
